<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA HÀ NỘI - THÔNG TIN CẦN BIẾT</title>
    <link rel="stylesheet" href="/css/stationInfo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <form action="/open-mainPage" method="POST">
        <input type="hidden" name="username" value="<%=username %>">
        <input type="hidden" name="password" value="<%=password %>">
        <button type="submit">Quay lại</button>
    </form>
    <div class="body">
        <p style="color: red;font-family:Cormorant,serif;font-weight:500;font-size: 25px;">GA HÀ NỘI - THÔNG TIN CẦN BIẾT</p>
        <img src="https://ik.imagekit.io/tvlk/blog/2022/09/ga-ha-noi-1-1024x576.jpg?tr=dpr-2,w-675">
        <p class="title">
            GA HÀ NỘI-TIN TỨC VỀ GA HÀ NỘI
        </p>
        <p class="intro">
            Ga Hà Nội- trước đây tên gọi là ga Hàng Cỏ do Pháp xây dựng và khánh thành năm 1902. Hơn một thế kỷ qua, ga Hà Nội luôn là một đầu mối giao thông vận tải quan trọng của nước Việt Nam ta nói chung, của Thủ đô Hà Nội nói riêng.
            <br>
            Từ tháng 6/1940, tại Hà Nội đã thành lập chi bộ Hoa xã Hà Nội lãnh đạo công nhân Đường sắt chống lại sự áp bức, cai trị của Thực dân Pháp. Trong những năm kháng chiến chống Pháp, Hoa xã Việt Nam đã góp phần vận chuyển hàng hoá, vũ khí; chi viện sức người, sức của cho quân và dân Nam bộ kháng chiến. Đến năm 1955, Tổng cục Đường sắt được thành lập và Đảng uỷ Tổng cục Đường sắt ra đời. Lúc này trực thuộc Đảng uỷ Tổng cục Đường sắt gồm 6 chi bộ, trong đó có Chi bộ các nhà ga thuộc Hà Nội. Giai đoạn này miền Bắc bước vào xây dựng kinh tế, hàn gắn vết thưng chiến tranh, chi viện đắc lực cho nhân dân miền Nam đấu tranh chống Mỹ và bè lũ tay sai.
            <br>
            Tiếp sau đó đến giai đoạn kháng chiến chống Mỹ, cùng với toàn Ngành Đường sắt, Đảng bộ ga Hà Nội đã lãnh đạo CBCNV ga Hà Nội chấp nhận mọi hy sinh để giữ vững mạch máu giao thông Đường sắt, vận tải chi viện cho chiến trường đánh to, thắng lớn, với tinh thần: “Qua sông không cầu, chạy tàu không ga”. Năm 1972, giặc Mỹ đã ném bom Hà Nội, trong đó ga Hà Nội là một mục tiêu quan trọng, Đảng bộ, CBCNV ga Hà Nội đã không quản ngại vất vả, hy sinh để bảo quản và vận chuyển hàng hoá, khôi phục nhà ga, đường tàu để đảm bảo giao thông thông suốt. Trong thời kỳ này, nhiều tập thể, cá nhân trong Ngành Đường sắt đã được Đảng và Nhà nước phong tặng danh hiệu Anh hùng.
            <br>
            Cùng với toàn Ngành Đường sắt, Đảng bộ ga Hà Nội và toàn thể CBCNV nhà ga đã góp một phần không nhỏ cùng quân và dân ta đánh thắng Thực dân Pháp, Đế quốc Mỹ, giải phóng Miền Nam, thống nhất đất nước. Sau khi hoà bình lập lại và trong thời kỳ đổi mới, ga Hà Nội đã được xây sửa lại khang trang hơn, nhà ga đã trở thành đầu mối giao thông quan trọng vận chuyển hành khách, hàng hoá với 5 tuyến đường sắt trong nước và liên vận Quốc tế, đáp ứng nhu cầu đi lại của nhân dân Thủ đô và nhân dân cả nước. Đảng bộ ga Hà Nội được xây dựng ngày càng lớn mạnh, đến nay Ga đã có 11 chi bộ với 86 đảng viên luôn là lực lượng tiên phong cùng với toàn thể CBCNV ga tiếp bước trên chặng đường đổi mới.
            <br>
            Với những thành tích đóng góp to lớn trong thời kỳ kháng chiến, hòa bình và giai đoạn đổi mới, ga Hà Nội đã được Đảng, Nhà nước tặng nhiều danh hiệu cao quý.
            <ul>
                <li>Huân chương Lao động hạng nhất năm 2010.</li>
                <li>Huân chương Lao động hạng nhì năm 2005.</li>
                <li>Huân chương Lao động hạng nhì năm 2000.</li>
                <li>Bằng Khen của Chính phủ các năm: 1999, 2003, 2004.</li>
                <li>Anh hùng Lực lượng vũ trang Nhân dân năm 2005.</li>
                <li>Cờ thi đua xuất sắc của Bộ GTVT các năm: 1998, 2002, 2007, 2008, 2009.</li>
                <li>Đơn vị Dẫn đầu thi đua Ngành ĐSVN các năm:1995, 2001, 2002, 2003, 2004, 2005.</li>
                <li>Đ­ược uỷ ban An toàn giao thông Quốc gia tặng bằng khen vì đã có thành tích xuất sắc trong công tác bảo đảm an toàn giao thông Đ­ường sắt giai đoạn 2006 – 2011 theo quyết định số 245/QĐ-UBATGTĐS ngày 27/6/2011.</li>
                <li>Được Bộ trưởng Bộ Quốc phòng tặng Bằng khen cho Lực Lượng Tự vệ ga Hà Nội vì “Đã có thành tích xuất sắc trong 12 năm thực hiện pháp lệnh dân quân tự vệ, xây dựng Quân đội, củng cố Quốc phòng và Bảo vệ Tổ quốc”.</li>
                <li>Được UBND thành phố Hà Nội tặng bằmg khen vì có thành tích xuất xắc trong thực hiện kế hoạch phối hợp đảm bảo An ninh trật tự khu vực ga Hà Nội năm 2008.</li>
                <li>Đầu năm 2011 được Uỷ ban Nhân dân Thành phố Hà Nội tặng bằng khen cho 2 tập thể (đội Bảo vệ, Ban sản xuất 3) và 02 cá nhân vì có thành tích xuất sắc trong công tác phòng chống ma tuý.</li>
                <li>Đảng bộ được Đẳng uỷ Đường sắt Việt Nam tặng giấy khen là “Tổ chức Đảng tiêu biểu trong 10 năm thực hiện tốt Quy chế dân chủ ở cơ sở”.</li>
                <li>Cá nhân đồng chí Trưởng ga được Thủ Tướng Chính phủ tặng bằng khen năm 2009 và Huân chương Lao động hạng 3.</li>
            </ul>
        </p>
        <p class="title">
            Bản đồ ga Hà Nội
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1015.3204509892292!2d105.84044886560126!3d21.024226811106615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9efb3905af%3A0x1ba6ca099f18e709!2zR2EgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1681961624490!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p class="title">
            Một số tuyến tàu đi từ ga Hà Nội<br>
            <ul>
                <li>Hà Nội - Hải Phòng</li>
                <li>Hà Nội – Lạng Sơn</li>
                <li>Hà Nội - Quan Triều</li>
                <li>Hà Nội – Thanh Hóa</li>
                <li>Hà Nội – Vinh</li>
                <li>Hà Nội – Sài Gòn</li>
                <li>Hà Nội – Thanh Hóa</li>
                <li>Hà Nội – Đồng Hới</li>
            </ul>
        </p>
        <p class="title">
            Hình ảnh ga Hà Nội
        </p>
        <img src="https://file1.dangcongsan.vn/DATA/0/2017/08/1-11_13_02_742.jpg">
        <div class="note">Ga Hà Nội</div>
        <img src="https://icdn.dantri.com.vn/thumb_w/1920/2022/09/17/pho-cafe-duong-tau17-1663405454728.jpg">
        <div class="note">Đường ray tàu hỏa ga Hà Nội</div>
        <p class="title">Thông tin liên hệ đặt vé tàu ga Hà Nội</p>
        <p>Hành khách có thể đặt vé tàu hỏa từ ga Hà Nội đi hoặc từ các ga khác đến ga Hà Nội qua các phòng bán vé, điểm bán vé tàu trên toàn quốc, mua trực tuyến tại website Khangy hoặc mua qua điện thoại.</p>
    </div>

    <div class="footer" style="background:blue" id="lienlac">
        <table>
          <tr style="color:white;font-weight:bold;font-size:17px"><th style="margin-right:100px">CÁCH THỨC ĐẶT VÉ</th><th>KẾT NỐI VỚI CHÚNG TÔI</th><th>MUA VÉ TÀU TRỰC TUYẾN</th></tr>
          <tr>
            <td style="width:30%">
              <i class="material-icons">computer</i>
              <div style="color:white;font-size:16px;font-weight:bold">TRỰC TIẾP QUA WEBSITE :  <a style="color:yellow">Website Khangy</a></div>
              <i class="material-icons">call</i>
              <div style="color:white;font-size:16px;font-weight:bold">ĐẶT VÉ QUA SỐ HOTLINE :  <span style="color:yellow">0123456789</span></div>
              <i class="material-icons">meeting_room</i>
              <div style="color:white;font-size:16px;font-weight:bold">ĐẶT VÉ TẠI VĂN PHÒNG : </div>
              <div style="color:white">Trụ sở chính: Phòng 1, Gò Đậu, Phú Nghĩa, Chương Mỹ,Hà Nội(đối diện Chùa Hạ)</div>
            </td>
            <td style="text-align:center;width:40%" >
              <img src="https://levvvel.com/wp-content/uploads/best-small-minecraft-houses.jpg" alt="mine" style="width:35%; height:auto;border:5px solid green;border-radius: 8px;">
            </td>
            <td>
              <p style="color:white;font-weight:bold">
                Đặt Vé Tàu | Mua Vé Tàu | Mua Vé Tàu Online |<br/>Đặt Vé Tàu Online | Vé Tàu Hà Nội Vinh | <br/>Vé Tàu Hà Nội Quảng Bình | Vé Tàu Hà Nội Huế |<br/>Vé Tàu Hà Nội Đà Nẵng |<br/>Vé Tàu Sài Gòn Nha Trang
                <br/><span style="color:red;font-size:20px">Đơn vị trực thuộc: Công ty VHKM</span>
              </p>
            </td>
          </tr>
        </table>
    </div>
</body>
</html>