<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA LONG BIÊN - THÔNG TIN CẦN BIẾT</title>
    <link rel="stylesheet" href="/css/stationInfo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <form action="/open-mainPage" method="POST">
        <input type="hidden" name="username" value="<%=username %>">
        <input type="hidden" name="password" value="<%=password %>">
        <button type="submit">Quay lại</button>
    </form>
    <div class="body">
        <p style="color: red;font-family:Cormorant,serif;font-weight:500;font-size: 25px;">GA LONG BIÊN - THÔNG TIN CẦN BIẾT</p>
        <img src="https://vetau.alltours.vn/wp-content/uploads/2018/11/ga-long-bien-1-680x380.jpg">
        <p>Ga Long Biên Hà Nội</p>
        <p class="definition">
            <strong>
                <em>
                    Ga Long Biên là một nhà ga xe lửa, đặt tại điểm cuối của cầu Long Biên, thuộc địa bàn phường Đồng Xuân, quận Hoàn Kiếm, thành phố Hà Nội. Ga tiếp theo nằm về phía tây là ga Hà Nội, về phía đông là ga Gia Lâm. Cổng chính của nhà ga quay về lối xuống cầu Long Biên phía quận Hoàn Kiếm.
                </em>
            </strong>
        </p>
        <p class="title">
            Giới thiệu chung về ga Long Biên
        </p>
        <p class="intro">
            So với nhiều vị trí công trình kiến trúc lâu năm ở Hà Nội thì ga Long Biên không có nhiều biến dạng mà chỉ bị che lấp bởi những công trình tạm và nhỏ bé do các công trình nhà xây mới lấn áp. Toàn bộ kiến trúc tầng trên ga Long Biên đều được đặt trên đỉnh 131 vòm đá hộc, nếu được thông thoáng thì cảnh quan kiến trúc chung của khu vực ga Long Biên và đường đầu cầu Long Biên sẽ rất hấp dẫn với nhiều người yêu nghệ thuật kiến trúc.
        <br>
            Do địa hình hẹp nên cửa ra vào ga Long Biên dành cho hành khách đi tầu cũng rất độc đáo. Cửa chính được gắn biển ga Long Biên quay ra đường dẫn lên cầu theo hướng thuận từ phía Gia Lâm vào Hà Nội và nằm về phía tay phải của đường sắt theo hướng đi về phía ga Hà Nội, đây là cửa dành cho hành khách có lý tương đối nặng. Còn cửa phụ là một cầu thang với 23 bậc được xây bằng đá xẻ với trình độ tay nghề cao, đây là cửa vào, ra ga Long Biên dành cho hành khách có hành lý gọn nhẹ. Ga Long Biên còn thuận tiện cho du khách vào thăm phố cổ và đi chợ Đồng Xuân.
        </p>
        <img src="https://vetau.alltours.vn/wp-content/uploads/2018/11/ga-long-bien-04.jpg">
        <div class="note">Ga Long Biên dưới mắt nhiếp ảnh gia</div>
        <p class="title">
            Bản đồ ga Long Biên
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8189609867395!2d105.84792715966704!3d21.039928631763686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abb850f454c7%3A0x7293c4b437db747a!2sGa%20Long%20Bi%C3%AAn!5e0!3m2!1svi!2s!4v1681889774880!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p class="title">
            Một số tuyến tàu đi từ ga Long Biên<br>
            <ul>
                <li>Long Biên – Quảng Ngãi</li>
                <li>Long Biên – Đà Nẵng</li>
                <li>Long Biên – Ninh Bình</li>
                <li>Long Biên – Thanh Hóa</li>
                <li>Long Biên – Vinh</li>
                <li>Long Biên – Sài Gòn</li>
                <li>Long Biên – Trà Kiệu</li>
                <li>Long Biên – Đồng Hới</li>
            </ul>
        </p>
        <p class="title">
            Mạng lưới tàu ở ga Long Biên
        </p>
        <p>
            Từ ga Long Biên, hành khách có thể đón các tàu địa phương như: Hà Nội – Đồng Đăng với các chuyến tàu mang ký hiệu DD3, DD5, HDR1, HDR3 ; Hà Nội – Lào Cai với các chuyến tàu mang số hiệu LC3, LC7, SP1, SP3, SP5, SP7; Hà Nội – Hải Phòng với các chuyến tàu mang ký hiệu HP1, LP3, LP5, LP7.
        </p>
        <p class="title">
            Hình ảnh ga Long Biên
        </p>
        <img src="https://vetau.alltours.vn/wp-content/uploads/2018/11/ga-long-bien-01.jpg">
        <div class="note">Lối vào ga Long Biên</div>
        <img src="https://vetau.alltours.vn/wp-content/uploads/2018/11/ga-long-bien-02.jpg">
        <div class="note">Bậc tam cấp lên ga Long Biên</div>
        <img src="https://vetau.alltours.vn/wp-content/uploads/2018/11/ga-long-bien-03.jpg">
        <div class="note">Đường ray tàu hỏa ga Long Biên</div>
        <p class="title">Thông tin liên hệ đặt vé tàu ga Long Biên</p>
        <p>Hành khách có thể đặt vé tàu hỏa từ ga Long Biên đi hoặc từ các ga khác đến ga Long Biên qua các phòng bán vé, điểm bán vé tàu trên toàn quốc, mua trực tuyến tại website Khangy hoặc mua qua điện thoại.</p>
    </div>

    <div class="footer" style="background:blue" id="lienlac">
        <table>
          <tr style="color:white;font-weight:bold;font-size:17px"><th style="margin-right:100px">CÁCH THỨC ĐẶT VÉ</th><th>KẾT NỐI VỚI CHÚNG TÔI</th><th>MUA VÉ TÀU TRỰC TUYẾN</th></tr>
          <tr>
            <td style="width:30%">
              <i class="material-icons">computer</i>
              <div style="color:white;font-size:16px;font-weight:bold">TRỰC TIẾP QUA WEBSITE :  <a style="color:yellow">Website Khangy</a></div>
              <i class="material-icons">call</i>
              <div style="color:white;font-size:16px;font-weight:bold">ĐẶT VÉ QUA SỐ HOTLINE :  <span style="color:yellow">0123456789</span></div>
              <i class="material-icons">meeting_room</i>
              <div style="color:white;font-size:16px;font-weight:bold">ĐẶT VÉ TẠI VĂN PHÒNG : </div>
              <div style="color:white">Trụ sở chính: Phòng 1, Gò Đậu, Phú Nghĩa, Chương Mỹ,Hà Nội(đối diện Chùa Hạ)</div>
            </td>
            <td style="text-align:center;width:40%" >
              <img src="https://levvvel.com/wp-content/uploads/best-small-minecraft-houses.jpg" alt="mine" style="width:35%; height:auto;border:5px solid green;border-radius: 8px;">
            </td>
            <td>
              <p style="color:white;font-weight:bold">
                Đặt Vé Tàu | Mua Vé Tàu | Mua Vé Tàu Online |<br/>Đặt Vé Tàu Online | Vé Tàu Hà Nội Vinh | <br/>Vé Tàu Hà Nội Quảng Bình | Vé Tàu Hà Nội Huế |<br/>Vé Tàu Hà Nội Đà Nẵng |<br/>Vé Tàu Sài Gòn Nha Trang
                <br/><span style="color:red;font-size:20px">Đơn vị trực thuộc: Công ty VHKM</span>
              </p>
            </td>
          </tr>
        </table>
    </div>
</body>
</html>