<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA LONG BIÊN - THÔNG TIN CẦN BIẾT</title>
    <link rel="stylesheet" href="/css/stationInfo.css">
</head>
<body>
    <form action="/open-mainPage" method="POST">
        <input type="hidden" name="username" value="<%=username %>">
        <input type="hidden" name="password" value="<%=password %>">
        <button type="submit">Quay lại</button>
    </form>
    <p>Ga Long Biên</p>
</body>
</html>