html{
    background-image:url("https://lh3.googleusercontent.com/SQt-kE2DB2Cv38S8xnTYo3y--GVTdnFkA_UmsSg4wrVt7gcfAATQqQNuWYsrcqklfU1LBHvfLGirjk0hXjr6Nzuk8SK2fZxPC567FdnulC4-ZZ7WbIR6neoJx1JyvX6P4eaPlh6KsCZTGYCX1chgeY-tZnmCNQAfETwLHHUS7DdioHxbrPN92VR4h11u3R9npIxWJVC6LgwHF5XZHXJkXjwUzr2Bp5zS7Sm6bdNsYWBqwaFwc-GwM2mUy9xtc_KA2cRENWbzIBTtcuDoTJi09rmgEKS-JV9-ep7gT8wLaNh6OR0_iXctm4ULwOukhBIQCPDvVmuCQ-LZkTxKIVzqqAC5yZN3ekrfDM9EzmpRqLRVX7UliNIAhGDm0Qigu-VZcVF5V2BFUkSIy2CYhSD_bJBe-yG7fZFcJyUmZHKqI_4Ee6YwIijYtYGhmnzjhLbihvrVL7btoDqCsUSsotsN1twnIYg2jbQYYJ7Qises8ZS3q8Ga_rvpcmQlxdYw0iNZcSe42xGDak60SquH_PXMx6WbMsamXHbTKVWyo6Gdn-RPzPox4WcftPnwCb0QSDjxCjx_LIn-YWj21kau0QNaoJX00QPA4uhLNJ9_ZIWGi8w0BryXQPnPdWdvcNiVbAHefuhhCMSfSL-C4uhfNHjvf7nmuaC_X2xvsv-6WYjbhFvHj-HpwsH5ovP7WvrQ9e8ODIvzqFMPh9qhNNFEWXmMgLD-np47tCEMBPWbN_HQFcOVWmciCqgNc_hgpVJj9SGzH5xWGzdmFs1DsU9fd5yxW0PD1hxIfXoClw52hv344G4y2UMZ-A6lVKYhasmCF5jM_3ypcMCpwOUSmWx6lRS3pqwrNF9563Lq1_thM8w0MgMgcMGnF9FFJNeM5XAVwAaaKCZkvEwDzcRKxDFamQh-6QY60y-lVZZsQ42WWH5Bhy4COr_QKgS-lQJWA_saJD_BRyYmyGhjfmGfPMy94pnD35nEgOlGXK4aKEm1uHLe_0ViWl0usRODiqqMdFAVJUyxGImFcryUlfHikgj1DJM99YKPUSRy=w1914-h903-s-no?authuser=0");
    background-repeat: no-repeat;
    background-size: 100%;
  }
div{
  /*border: 3px solid pink ;*/
  border-image: linear-gradient(#00a1d1f2, #fd3300ad) 30;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  margin-left:400px;
  margin-right: 400px;
  margin-top: 250px;
}
button[type="submit"] {
  background: #ff4584;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}
#payment{
  background: radial-gradient(circle, rgba(108,255,0,0.8996848739495799) 0%, rgba(28,202,16,1) 76%);
  font-weight: bold;
}
#later{
  background-color: #607d8b;

  /*font-weight: bold;*/
  width: 14%;
}
button{
  width: 25%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #607d8b;
  font-size: 15px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 5px;
}
.title,.alert {
  font-size:30px;
  margin-bottom: 15px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family:'Courier New';
}
.title {
  font-size: 35px;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}